absl-py==0.10.0
-e git+https://github.com/aim-uofa/AdelaiDet.git@22210997d46f91e62865afe762f4c718cec19bc2#egg=AdelaiDet
appdirs==1.4.4
astroid==2.4.2
backcall==0.2.0
bios==0.1.2
black==20.8b1
cachetools==4.1.1
certifi==2020.6.20
cfgv==3.2.0
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cycler==0.10.0
Cython==0.29.21
decorator==4.4.2
-e git+https://github.com/facebookresearch/detectron2.git@31eed14e86e223192fa52ad2b6c06a9fe96a1341#egg=detectron2
distlib==0.3.1
filelock==3.0.12
future==0.18.2
fvcore==0.1.3.post20210219
google-auth==1.22.1
google-auth-oauthlib==0.4.1
grpcio==1.32.0
identify==1.5.6
idna==2.10
imageio==2.9.0
importlib-metadata==2.0.0
iopath==0.1.2
ipdb==0.13.4
ipython==7.19.0
ipython-genutils==0.2.0
isort==5.7.0
jedi==0.17.2
joblib==1.0.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
Markdown==3.3
matplotlib==3.3.2
mccabe==0.6.1
MedPy==0.4.0
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
mypy-extensions==0.4.3
networkx==2.5
nodeenv==1.5.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1596233707986/work
nvidia-dali==0.10.0
nvidia-htop==1.0.2
oauthlib==3.1.0
olefile==0.46
opencv-python==4.4.0.44
oyaml==1.0
parso==0.7.1
pathspec==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1594307325547/work
Polygon3==3.0.8
portalocker==2.0.0
pre-commit==2.9.3
prompt-toolkit==3.0.8
protobuf==3.13.0
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pydot==1.4.1
Pygments==2.7.2
pylint==2.6.0
pyparsing==2.4.7
python-dateutil==2.8.1
python-Levenshtein==0.12.0
PyWavelets==1.1.1
PyYAML==5.3.1
rapidfuzz==1.0.2
regex==2020.11.13
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.3
Shapely==1.7.1
SimpleITK==2.0.2
six==1.15.0
tabulate==0.8.7
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.10.1
toml==0.10.1
torch==1.6.0
-e git+https://github.com/ufoym/imbalanced-dataset-sampler.git@5f4884f706acefbe9b03684e2d0c4860d873cf82#egg=torchsampler
torchvision==0.7.0
tqdm==4.50.1
traitlets==5.0.5
typed-ast==1.4.1
typing-extensions==3.7.4.3
urllib3==1.25.10
virtualenv==20.1.0
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yacs==0.1.8
zipp==3.3.0
